[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp
[submodule "lib/LuaBridge"]
	path = lib/LuaBridge
	url = https://github.com/vinniefalco/LuaBridge
[submodule "lib/imgui/imgui"]
	path = lib/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "lib/reactphysics3d"]
	path = lib/reactphysics3d
	url = https://github.com/DanielChappuis/reactphysics3d
